node_modules
ormconfig.json
.env

tmp/*
!tmp/.gitkeep

!tmp/uploads
tmp/uploads/*
!tmp/uploads/.gitkeep

!tmp/uploads/avatar
tmp/uploads/avatar/*
!tmp/uploads/avatar/.gitkeep

!tmp/uploads/logo
tmp/uploads/logo/*
!tmp/uploads/logo/.gitkeep

!tmp/uploads/product-image
tmp/uploads/product-image/*
!tmp/uploads/product-image/.gitkeep
