<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            .message-content {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 18px;
                text-align: center;
                background-color: #49b454;
                color: #fff;
                padding: 2px 0;
            }

            #token {
                text-decoration: underline;
                font-weight: bold;
            }
        </style>
    </head>
    <body>
        <div class="message-content">
            <p>Olá, <strong>{{name}}</strong></p>
            <p>Parece que uma troca de senha em sua conta foi solicitada.</p>
            <p>Se foi você, então copie o conteúdo abaixo, e cole-o na aplicação:</p>

            <p id="token">{{token}}</p>

            <p>Se não foi você, ignore esse e-mail.</p>
            <p>Obrigado!<br />
                <strong style="color: #283870; line-height: 28px;">Equipe Tradelous</strong>
            </p>
        </div>
    </body>
</html>



