<style>
    .message-content {
        font-family: Arial, Helvetica, sans-serif;
        max-width: 600px;
        font-size: 18px;
        line-height: 21px;
    }
</style>

<div class="message-content">
    <p>Olá, {{name}}</p>
    <p>Parece que uma troca de senha em sua conta foi solicitada.</p>
    <p>Se foi você, então clique no botão abaixo:</p>

    <button onclick="copyRecoverPasswordToken()">
        Copiar token
    </button>

    <p>Se não foi você, ignore esse e-mail.</p>
    <p>Obrigado!<br />
        <strong>Equipe Tradelous</strong>
    </p>
</div>
